@model Folder.Models.ViewModels.FoldersIndexViewModel

<h2>"Folder" - @Model.MainFolder.FolderName</h2>

@if (Model.ChildFolders.Any())
{
    <ul>
        @foreach (var folder in Model.ChildFolders)
        {
            @Html.ActionLink(folder.FolderName, "Index", new { id = folder.Id })
            <br />
        }
    </ul>
}
else
{
    <p>No folders found.</p>
}

@if (Model.MainFolder.ParrentFolderId != null)
{
    <div>
        <a asp-action="Index" asp-route-id="@Model.MainFolder.ParrentFolderId">Back to Parent Folder</a>
    </div>
}
